html,
body {
  margin: 0;
  padding: 0;
  background-color: #242d3b;
  overflow-x: hidden;
}
input[readonly] {
  cursor: not-allowed !important;
  color: #bbb !important;
}
option {
  font-size: 17px;
}
.edit_view,
.add {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  width: 700px;
  height: 720px;
  overflow-y: auto;
  background-color: #415677;
  border: 2px solid #fff;
}
.edit_view-header,
.add-header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 526px;
}
.edit_view-header-x,
.add-header-x {
  cursor: pointer;
  color: white;
  font-family: "Public Sans";
}
.edit_view-title,
.add-header-x {
  font-family: "Public Sans";
  color: white;
  font-size: 25px;
  font-weight: 600;
  margin: 0;
  margin-top: 10px;
}
.add-header-title {
  font-family: "Public Sans";
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  margin: 0;
  margin-top: 10px;
}
.buttons {
  display: flex;
  padding-bottom: 20px;
  padding-left: 1.5rem;
}
.a-new {
  font-family: "Public Sans";
  cursor: pointer;
  color: #fff;
  font-size: 19px;
  background-color: #407de0;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 10px;
}
.hardware-inputs-div {
  display: none;
  flex-wrap: wrap;
  padding-left: 1rem;
  padding-top: 2rem;
  height: auto;
  max-width: 100%;
  gap: 30px;
  padding-bottom: 30px;
}
.edit_view-div {
  display: flex;
  flex-wrap: wrap;
  padding-left: 1rem;
  padding-top: 2rem;
  height: auto;
  max-width: 100%;
  gap: 30px;
  padding-bottom: 30px;
}
.select-div,
.input-div {
  display: flex;
  flex-direction: column;
  width: 200px;
  gap: 10px;
  height: auto;
}
.type-selector {
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 0.8rem;
  display: flex;
  gap: 20px;
}
.type-selector-a-4,
.type-selector-a-3,
.type-selector-a-2,
.type-selector-a-1 {
  font-family: "Public Sans";
  color: #ffffff;
  font-size: 18px;
}
.type-selector-a-2:not(:hover)::after,
.type-selector-a-1:not(:hover)::after {
  content: "";
  background: white;
  width: 0 !important;
  height: 5px;
  border-radius: 0% !important;
  position: fixed;
  cursor: pointer;
  top: 85px;
  display: block;
  animation: slideIn1 0.3s reverse;
}
.type-selector-a-2.active::before,
.type-selector-a-1.active::before {
  content: "";
  background: white;
  width: 100px;
  height: 5px;
  border-radius: 15%;
  position: fixed;
  top: 85px;
  cursor: pointer;
  display: block;
}
.type-selector-a-2:hover::before,
.type-selector-a-1:hover::before {
  content: "";
  background: white;
  width: 0;
  height: 5px;
  position: fixed;
  top: 85px;
  cursor: pointer;
  display: block;
  animation: slideIn1 0.3s forwards;
}
@keyframes slideIn1 {
  from {
    width: 0;
  }
  to {
    width: 100px;
  }
}
.type-selector-a-3:not(:hover)::after {
  content: "";
  background: white;
  width: 0 !important;
  height: 5px;
  border-radius: 0 !important;
  position: fixed;
  cursor: pointer;
  top: 85px;
  display: block;
  animation: slideIn2 0.3s reverse;
}
.type-selector-a-3.active::before {
  content: "";
  background: white;
  width: 50px;
  height: 5px;
  position: fixed;
  top: 85px;
  border-radius: 15%;
  cursor: pointer;
  display: block;
}
.type-selector-a-3:hover::before {
  content: "";
  background: white;
  width: 0;
  height: 5px;
  position: fixed;
  top: 85px;
  cursor: pointer;
  display: block;
  animation: slideIn2 0.3s forwards;
}
@keyframes slideIn2 {
  from {
    width: 0;
  }
  to {
    width: 47px;
  }
}
.type-selector-a-4:not(:hover)::after {
  content: "";
  background: white;
  width: 0 !important;
  height: 5px;
  border-radius: 0 !important;
  position: fixed;
  cursor: pointer;
  top: 85px;
  display: block;
  animation: slideIn3 0.3s reverse;
}
.type-selector-a-4.active::before {
  content: "";
  background: white;
  width: 40px;
  height: 5px;
  border-radius: 15%;
  position: fixed;
  top: 85px;
  cursor: pointer;
  display: block;
}
.type-selector-a-4:hover::before {
  content: "";
  background: white;
  width: 0;
  height: 5px;
  position: fixed;
  top: 85px;
  cursor: pointer;
  display: block;
  animation: slideIn3 0.3s forwards;
}
@keyframes slideIn3 {
  from {
    width: 0;
  }
  to {
    width: 40px;
  }
}
.save-hardware,
.submit-hardware {
  color: black;
  font-family: "Public Sans";
  font-size: 17px;
  position: relative;
  top: 20px;
  left: 100px;
  cursor: pointer;
  background-color: #ffffff;
  border-top-left-radius: 30%;
  border-bottom-right-radius: 30%;
  width: 100px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#asset-hardware,
#asset-assigned-user,
#asset-storage-capacity,
#asset-ip-address,
#asset-mac-address,
#asset-condition,
#asset-depreciation,
#asset-cost,
#asset-location,
#asset-assigned-user,
#asset-warranty-expiration-date,
#asset-purchase-date,
#asset-os,
#asset-ram,
#asset-make,
#asset-serial-number,
#asset-id,
#asset-type {
  color: #ffffff;
  font-family: "Public Sans";
}
#asset_storage_capacity-input,
#asset_depreciation-input,
#asset_cost-input {
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding: 8px;
  width: 100%;
  font-size: 17px;
  outline: none;
}
#asset_hardware-input,
#asset_assigned-user-input,
#asset_ip_address-input,
#asset_mac_address-input,
#asset_warranty-expiration-date-input,
#asset_purchase-date-input,
#asset_serial_number-input,
#asset_id-input {
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding: 8px;
  font-size: 17px;
  outline: none;
}
#AssetCondition,
#AssetLocation,
#AssetAssignedUser,
#AssetOS,
#AssetRam,
#AssetMake,
#AssetType {
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding: 8px;
  outline: none;
  font-family: "Public Sans";
  font-size: 15px;
  width: 100%;
}
.input-div-storage-capacity,
.input-div-depreciation,
.input-div-cost,
.select-div-ram {
  display: flex;
  align-items: center;
}
.asset-type-option {
  color: #ffffff;
  font-size: 17px;
  font-family: "Public Sans";
}
.storage-capacity-p,
.depreciation-p,
.cost-p,
.ram-p {
  color: #ffffff;
  font-family: "Public Sans";
  margin: 0;
  font-size: 17px;
  margin-right: 10px;
}
#error-msg {
  position: absolute;
  color: white;
  font-family: "Public Sans";
  font-size: 16px;
  bottom: -10px;
  left: 1%;
}
.list_hardware {
  display: grid;
  gap: 10px;
  width: 100%;
  height: auto;
  background-color: white;
  padding: 10px;
}
.list_header_p {
  font-weight: 600;
  font-size: 23px;
}
.list_header_hardware,
.list_hardware_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  width: 100%;
  background-color: white;
  align-items: center;
  text-align: center;
  padding: 10px;
}

.list_header_column,
.list_column {
  padding: 10px;
  font-family: "Public Sans";
  color: black;
  text-align: center;
  font-size: 22px;
}

@media (max-width: 900px) {
  .list_hardware {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  }
  .list_header_p,
  .list_column_p {
    font-size: 16px;
  }
  .eye_icon {
    display: none;
  }
}

@media (max-width: 480px) {
  .list_hardware {
    grid-template-columns: 1fr;
  }
  .list_header_hardware,
  .list_hardware_container {
    grid-template-columns: 1fr;
  }
  .list_header_p,
  .list_column_p {
    font-size: 14px;
  }
  .eye_icon {
    display: none;
  }
}
@font-face {
  font-family: "Public Sans";
  src: url("../fonts/public-sans.regular.ttf");
}
