html, body {
    margin: 0;
    padding: 0;
    background-color: #242d3b;
    overflow-x: hidden;
}
.title-div {
    padding-left: 2.5rem;
    padding-top: 2.5rem;
}
.title {
    font-family: 'Public Sans';
    color: white;
    font-size: 40px;
}
.title-desc {
    font-family: 'Public Sans';
    font-size: 20px;
    color: white;
}
.rodeo-img {
    width: 400px;
    height: 400px;
    z-index: 1;
    user-select: none;
}
.rodeo {
    position: absolute;
    bottom: 0;
    z-index: 1;
}
@media (max-width: 880px) {
    .title {
        font-size: 25px;
    }
    .rodeo-img {
        width: 300px;
        height: 300px;
        z-index: 1;
    }
}
@media (max-width: 400px) {
    .rodeo {
      width: 300px;
      height: 300px;
    }
    .rodeo-img {
        width: 300px;
        height: 300px;
    } 
}
@font-face {
    font-family: 'Public Sans';
    src: url("../fonts/public-sans.regular.ttf");
}
