html, body {
  margin: 0;
  padding: 0;
  background-color: #242d3b;
  overflow-x: hidden;
}
.title {
  font-family: 'Public Sans';
  color: white;
  font-size: 40px;
}
#loginForm {
  width: 420px;
  margin: 200px auto;
  padding: 30px;
  border-radius: 8px;
}
#loginForm label {
  display: block;
  padding-bottom: 20px;
  font-weight: 600;
  color: white;
  font-family: 'Public Sans';
  font-size: 20px;
}
#loginForm input[type="text"],
#loginForm input[type="password"] {
  width: 92%;
  padding: 12px 15px;
  background-color: #2a2e35;
  border: 1px solid #3a3f4b;
  color: white;
  font-size: 16px;
  margin-bottom: 15px;
  transition: border 0.3s ease-in-out;
}
#loginForm input[type="text"]:focus,
#loginForm input[type="password"]:focus {
  border: 1px solid #4a90e2;
  outline: none;
  padding-right: 30px;
}
.password-div {
  width: 100%;
  margin-bottom: 15px;
  position: relative; 
  display: inline-block;
}
.togglePassword-div {
  background-color: #2a2e35;
  border: 1px solid;
  border-color: #3a3f4b;
  padding: 11px 10px;
  position: absolute; 
  left: -42px; 
  top: 36%; 
  transform: translateY(-50%);   
}
#togglePassword { 
  cursor: pointer;
}
#loginForm input[type="submit"] {
  width: 30%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: white;
  color: black;
  font-size: 17px;
  cursor: pointer;
  font-family: 'Public Sans';
}
.a-register {
  color: rgb(111, 219, 249);
  margin-left: 7.4rem;
  font-family: 'Public Sans';
  cursor: pointer;
}
.rodeo-img {
  width: 500px;
  height: 500px;
  z-index: 1;
  user-select: none;
}
.rodeo {
  position: absolute;
  bottom: 0;
  width: 500px;
  height: 500px;
  z-index: 1;
}
@media (max-width: 880px) {
  .rodeo {
    width: 400px;
    height: 400px;
  }
  .rodeo-img {
    width: 330px;
    height: 330px;
  }
}
@media (max-width: 800px) {
  .rodeo-img {
    width: 300px;
    height: 300px;
  }
  .rodeo {
    width: 300px;
    height: 300px;
  }
}
@media (max-width: 480px) {
  #loginForm {
    margin: 0px auto;
    width: 320px;
  }
  .a-register {
    padding-left: 0;
    margin-left: 3rem;
  }
  .rodeo-img {
    width: 300px;
    height: 300px;
    z-index: 1;
  }
  .rodeo {
    width: 300px;
    height: 300px;
  }
}
@font-face {
  font-family: 'Public Sans';
  src: url("../fonts/public-sans.regular.ttf");
}
