html, body {
  margin: 0;
  padding: 0;
  background-color: #242d3b;
  overflow-x: hidden;
}
.title-div {
  position: absolute;
  left: 45%;
  top: 17%;
}
.title {
  font-family: 'Public Sans';
  color: white;
  font-size: 40px;
}
#loginForm {
  width: 420px;
  margin: 200px auto;
  padding: 30px;
  border-radius: 8px;
}
#loginForm label {
  display: block;
  padding-bottom: 20px;
  font-weight: 600;
  color: white;
  font-family: 'Public Sans';
  font-size: 20px;
}
#loginForm input[type="text"],
#loginForm input[type="password"] {
  width: 92%;
  padding: 12px 15px;
  margin-bottom: 15px;
  border-radius: 4px;
  background-color: #2a2e35;
  border: 1px solid #3a3f4b;
  color: white;
  font-size: 16px;
  transition: border 0.3s ease-in-out;
}
#loginForm input[type="text"]:focus,
#loginForm input[type="password"]:focus {
  border: 1px solid #4a90e2;
  outline: none;
}
#loginForm input[type="submit"] {
  width: 30%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: white;
  color: black;
  font-size: 17px;
  cursor: pointer;
  font-family: 'Public Sans';
}
.a-register {
  color: rgb(111, 219, 249);
  margin-left: 7.4rem;
  font-family: 'Public Sans';
  cursor: pointer;
}
.rodeo-img {
  width: 300px;
  height: 300px;
  z-index: 1;
}
.rodeo {
  position: absolute;
  bottom: 0;
  width: 300px;
  height: 300px;
  z-index: 1;
}
@media (max-width: 780px) {
  .title-div {
    top: 20%;
  }
}
@media (max-width: 480px) {
  #loginForm {
    margin: 100px auto;
    width: 320px;
  }
  .a-register {
    padding-left: 0;
    margin-left: 3rem;
  }
  .title-div {
    left: 38%;
    top: 10%;
  }
}
@font-face {
  font-family: 'Public Sans';
  src: url("../fonts/public-sans.regular.ttf");
}
