html, body {
    margin: 0;
    padding: 0;
    background-color: #242d3b;
    overflow-x: hidden;
}
.title {
    font-family: 'Public Sans';
    color: white;
    font-size: 40px;
}
#signupForm {
    width: 420px;
    margin: 200px auto;
    padding: 30px;
    border-radius: 8px;
}
#signupForm label {
    display: block;
    padding-bottom: 20px;
    font-weight: 600;
    color: white;
    font-family: 'Public Sans';
    font-size: 20px;
}
#signupForm input[type="text"] {
    width: 95%;
    padding: 12px 15px;
    background-color: #2a2e35;
    border: 1px solid #3a3f4b;
    color: white;
    font-size: 16px;
    margin-bottom: 15px;
    transition: border 0.3s ease-in-out;
}
#signupForm input[type="password"] {
    width: 92%;
    padding: 12px 0;
    background-color: #2a2e35;
    border: 1px solid #3a3f4b;
    color: white;
    font-size: 16px;
    margin-bottom: 15px;
    transition: border 0.3s ease-in-out;
}
#signupForm input[type="text"]:focus,
#signupForm input[type="password"]:focus {
    border: 1px solid #4a90e2;
    outline: none;
}
.password-div {
    width: 100%;
    position: relative; 
    display: inline-block;
}
.togglePassword-div {
    background-color: #2a2e35;
    border: 1px solid;
    border-color: #3a3f4b;
    padding: 11.3px 10px;
    position: absolute; 
    right: -10px; 
    top: 35.93%; 
    transform: translateY(-50%);   
}
#togglePassword { 
    cursor: pointer;
}
#signupForm input[type="submit"] {
    width: 30%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: white;
    color: black;
    font-size: 17px;
    cursor: pointer;
    font-family: 'Public Sans';
}
.a-login {
    color: rgb(111, 219, 249);
    font-family: 'Public Sans';
    position: relative;
    left: 110px;
    cursor: pointer;
}   
.rodeo-img {
    width: 400px;
    height: 400px;
    z-index: 1;
    user-select: none;
}
.rodeo {
    position: absolute;
    bottom: 0;
    width: 400px;
    height: 400px;
    z-index: 1;
}
#resMsg {
    color: white;
    font-family: 'Public Sans';
    font-size: 19px;
    padding-top: 15px;
}
@media (max-width: 800px) {
    .rodeo-img {
        width: 300px;
        height: 300px;
    }
    .rodeo {
        width: 300px;
        height: 300px;
    }
}
@media (max-width: 480px) {
    #signupForm {
        margin: 0px auto;
        width: 320px;
    }
    .rodeo-img {
        width: 300px;
        height: 300px;
        z-index: 1;
    }
    .rodeo {
        width: 300px;
        height: 300px;
    }
    .a-login {
        left: 50px;
    }
    .togglePassword-div {
        right: -18px;
    }
    #signupForm input[type="text"] {
        padding-right: 0;
        width: 100%;
    }
}
@media (max-width: 400px) {
    .rodeo {
      display: none;
    }
}
@font-face {
    font-family: 'Public Sans';
    src: url("../fonts/public-sans.regular.ttf");
}
